<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <Hope.Properties.Settings>
            <setting name="ComPortName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ComPortBaudrate" serializeAs="String">
                <value/>
            </setting>
            <setting name="KP2" serializeAs="String">
                <value/>
            </setting>
            <setting name="KI2" serializeAs="String">
                <value/>
            </setting>
            <setting name="KD2" serializeAs="String">
                <value/>
            </setting>
            <setting name="KP1" serializeAs="String">
                <value/>
            </setting>
            <setting name="KI1" serializeAs="String">
                <value/>
            </setting>
            <setting name="KD1" serializeAs="String">
                <value/>
            </setting>
            <setting name="SignalTypeSpeed" serializeAs="String">
                <value/>
            </setting>
            <setting name="SignalTypePosition" serializeAs="String">
                <value/>
            </setting>
            <setting name="AmMax1" serializeAs="String">
                <value/>
            </setting>
            <setting name="AmMax2" serializeAs="String">
                <value/>
            </setting>
            <setting name="AmMin1" serializeAs="String">
                <value/>
            </setting>
            <setting name="AmMin2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Peroid1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Peroid2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Offset1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Offset2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Ts1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Ts2" serializeAs="String">
                <value/>
            </setting>
            <setting name="ModeSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show" serializeAs="String">
                <value>0</value>
            </setting>
        </Hope.Properties.Settings>
    </userSettings>
</configuration>
